.filten-wrapper {
	display: none;
    border: 1px solid #204759;
    background: #f3f3f3;
    border-radius: 3px;
}
.filten-header {
    text-align: center;
    background: #204759;
	padding: 0.4em;
}
.filten-title {
	font-size: 1.3em;	
    font-weight: bold;
    background: #204759;
    color: #fff;
}
.filten-summary {
    background: #204759;
    color: #fff;
	font-style: italic;
}
.filten-summary-counts {
    text-align: center;
}
.filten-crit {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    padding: 0.3em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.filten-crit:first-child {
    border-top: none;
}
.filten-crit:last-child {
    border-bottom: none;
}
.filten-crit-header {
    font-weight: bold;
	font-size: 1.1em;
    margin-bottom: 0.3em;
}
.filten-crit-value {
	position: relative;
    cursor: pointer;
	padding: 0.3em 0;
}
div.filten-crit-value:hover {
	background-color: #DFDFEA;
}
.filten-crit-value.filten-active {
    font-weight: bold;
    font-style: italic;
}
.filten-crit-value-checkbox {
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	border: 1px solid #204759;
	border-radius: 2px;
	vertical-align: baseline;
	margin: 0 0.3em;
}
.filten-active .filten-crit-value-checkbox {
	/* display: none */
	background: #204759;
}
.filten-crit-value-count {
	position: absolute;
	right: 0;
}
.filten-item-filtered {
	display: none;
}